<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="teamId == 1">{{ 'NAME_HEIM_MANNSCHAFT' | translate }}</span>
      <span *ngIf="teamId == 2">{{ 'NAME_GAST_MANNSCHAFT' | translate }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>
    <button (click)='back()'>zurück</button>
  </p> -->
  <form [formGroup]="form">
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-end">
        <ion-item>
          <ion-input type="text" formControlName="teamName" maxlength="8"></ion-input>
        </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="12">
        <div class="ion-text-end">
          <button (click)='save()' [disabled]="!form.valid" title="{{ 'SPEICHERN' | translate }}">
            <ion-icon name="checkmark" size="large"></ion-icon>
          </button>       
          <button (click)='cancel()' title="{{ 'ABBRUCH' | translate }}">
            <ion-icon name="close" size="large"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
