<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'CONFIGURATION' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
<ion-grid>
  
  
  <ion-row >
    <ion-col size="12" class="subtitle"> {{ 'BLUETOOTH' | translate }}</ion-col>
  </ion-row>

  
 
    <ion-row >
      <ion-col size="12">
        <div *ngIf="isConnected">
          {{ 'IS_CONNECT_WITH_SELECTED_BLUETOOTH' | translate }}{{bluetoothService.selectedDeviceName}}
        </div>
        <div *ngIf="!isConnected">
          {{ 'BLUETOOTH_NOT_CONNECTED_MESSAGE' | translate }}         
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
          {{ 'BLUETOOTH_AUTO_CONNECT_OPTION' | translate }}  
    </ion-col>
      <ion-col size="4">
        <ion-toggle formControlName="autoConnect" (ionChange)="updateAutoConnect($event)"></ion-toggle>
    </ion-col>
    </ion-row>
      <div style="padding-top: 2em;" *ngIf="hasSelectedDevice()">
    	<ion-row >
        <ion-col size="8">
          {{ 'BLUETOOTH_CONNECTION_SAVED' | translate }} {{bluetoothService.selectedDeviceName}}
        </ion-col>
        <ion-col size="4">
          <button (click)='disconnect()' *ngIf="isConnected"  >
            {{ 'BLUETOOTH_STOP_CONNECTION' | translate }}
          </button> 
        <button (click)='connect(bluetoothService.selectedDeviceID)'  *ngIf="!isConnected">
          {{ 'BLUETOOTH_START_CONNECTION' | translate }}
        </button> 
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12"><button (click)='clearBluetoothConnectTimer()'>
        Clear Connect Timer If Exists
      </button>
      </ion-col>
    </ion-row> -->
    
  </div>
 
  <div style="padding-top: 2em;">
  <ion-row>
    <ion-col size="8">{{ 'SCAN_BLUETOOTH_DEVICES' | translate }}</ion-col>
    <ion-col size="4">
      <button (click)='scanBluetoothDevices()'>
        <ion-icon name="search" size="large"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

</div>
<ng-template [ngIf]="bluetoothScan">
  <ion-row *ngIf="bluetoothDevices.length== 0">
    <ion-col size="12">{{ 'BLUETOOTH_DEVICE_LIST_EMPTY' | translate }}</ion-col>
  </ion-row>

  <ion-row *ngIf="bluetoothDevices.length > 0">
    <ion-col size="12">{{ 'BLUETOOTH_DEVICE_LIST_HEADER' | translate }}</ion-col>
  </ion-row>

  <ion-row *ngFor="let device of bluetoothDevices">
    <ion-col size="8" *ngIf="hasDeviceName(device)">
      {{device.name}}<br>
    </ion-col>
    <ion-col size="4" *ngIf="hasDeviceName(device)">
      <button (click)='connect(device.id)' >
        <ion-icon name="bluetooth" size="large"></ion-icon>
      </button>  
    </ion-col>
  </ion-row>
</ng-template>
  </ion-grid>


  <ion-row >
    <ion-col size="12" class="subtitle"> {{ 'TIME' | translate }}</ion-col>
  </ion-row>

  <ion-row >
    <ion-col size="8">{{ 'CHECK_TIME_TRANSFER' | translate }}</ion-col>
    <ion-col size="2">
      <div class="ion-text-left" style="margin-left: 13px;">
        <ion-checkbox class="checkbox" (ionChange)="onChangeTimeTransfer($event)" formControlName="checkTimeTransfer" ></ion-checkbox>
      </div>
    </ion-col>
  </ion-row>
  
  <!-- <pre >
    {{IsTimeTransfer}}
  </pre>
  <pre >
    {{checkForm}}
  </pre> -->
  <!-- <pre >
    {{devices | json}}
  </pre> -->
</form>
</ion-content>
