<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'SPORT_AUSWAHL' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row no-padding>   
    <ion-col col-6 *ngFor="let setting of generalSettings">
      <div class="ion-text-center">
        <button (click)="setSettings(setting.settingId)" block style="height: 50%;width: 50%;" title="{{setting.title}}">
          <img src="../assets/icon/{{setting.icon}}"  />
          {{setting.title}}
        </button>
      </div>  
    </ion-col>
  </ion-row>
</ion-grid>
<br/><br/>

</ion-content>
