<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SPIELZEIT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 
<p>
<button (click)='goBack()'>zurück</button>
</p> -->
<ion-grid>
  <ion-row>
    <ion-col size="4" class="cell-class-border-right">
      <div class="ion-text-center">
      <span *ngIf="isFootballNormal()">{{ 'HALBZEIT' | translate }}</span>
      <span *ngIf="isFootballReneval()">{{ 'VERLAENGERUNG' | translate }}</span>
      <span *ngIf="isHockey()">{{ 'PERIODE' | translate }}</span>
    </div>
    </ion-col>

    <ion-col size="4" >
      <div class="ion-text-center">
      Min
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="ion-text-center">
      Sek
    </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" class="cell-class-border-right">
      <div class="ion-text-center">
      <button (click)='periodAdd()' [disabled]="periodAddDisabled()">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
        </button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
      <button (click)='minuteAdd()'>
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </button>
    </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
      <button (click)='secondAdd()' [disabled]="secDisabled()">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </button>
    </div>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="4" class="cell-class-border-right">
      <div class="ion-text-center">
      {{getPeriodNumber()}}  
    </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
      {{getSportReleateMinutes() | number:'2.0'}}
    </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
      {{currentGame?.currentSec | number:'2.0'}}
    </div>
    </ion-col>
  </ion-row>




  <ion-row>
    <ion-col size="4" class="cell-class-border-right">
      <div class="ion-text-center">
      <button (click)='periodSubstract()' [disabled]="periodSubstractDisabled()">
        <ion-icon name="remove-circle-outline" size="large"></ion-icon>
        </button>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="ion-text-center">
      <button (click)='minuteSubstract()' [disabled]="minuteSubstractDisabled()">
        <ion-icon name="remove-circle-outline" size="large"></ion-icon>
      </button>
    </div>
    </ion-col>

    <ion-col size="4">
      <div class="ion-text-center">
      <button (click)='secondSubstract()' [disabled]="secDisabled()">
        <ion-icon name="remove-circle-outline" size="large"></ion-icon>
      </button>
    </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
      <span *ngIf="isFootballNormal()">{{ 'HALBZEIT' | translate }}</span>
      <span *ngIf="isFootballReneval()">{{ 'VERLAENGERUNG' | translate }}</span>
      <span *ngIf="isHockey()">{{ 'PERIODE' | translate }}</span>
      {{getPeriodNumber()}}/{{getTotalPeriods()}}
      <br>
      {{getMinPerPeriod() | number:'2.0' }}:00 Min  / 
      <span *ngIf="isFootballNormal()">{{ 'HALBZEIT' | translate }}</span>
      <span *ngIf="isFootballReneval()">{{ 'VERLAENGERUNG' | translate }}yyy</span>
      <span *ngIf="isHockey()">{{ 'PERIODE' | translate }}</span>
      <br>
      {{ 'ENDE' | translate }} {{getEndMinPerGame() | number:'2.0'}}:00
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-end">
        <button (click)='save()' title="{{ 'SPEICHERN' | translate }}">
          <ion-icon name="checkmark" size="large"></ion-icon>
        </button>  
        <button (click)='cancel()' title="{{ 'ABBRUCH' | translate }}">
          <ion-icon name="close" size="large"></ion-icon>
        </button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<pre *ngIf="debugSettings.displayPreOnHtml">
  {{currentGame | json}}
</pre>
</ion-content>
