.running {
    padding-left: 3 px;
    padding-right: 3 px;
    color:green;
    font-size: large;
}
.minuteCounter{
    //color:black;
}
.secCounter{
    //color:black;
}

.displayGoals {
    font-size: 160%;
    margin-top: -0.2em;
    // margin-left: 10px;
    // margin-right: 10px;
    // margin-bottom: -3px;

    
}
.subtext {
    font-size: 80%;
    color: #000000 !important;
    margin-top: -0.2em;
    
}



button.button-timer-style:disabled {
    opacity: 0.9 !important;
}


.teamname {
    // display: inline-block;
    // vertical-align: middle;
    //margin-bottom: 1.2em !important;
    //margin-bottom: 10px !important;
    bottom: 20px !important;
    font-size: 110% !important;
    margin-bottom: -0.5em;

}

.pause {
    padding-left: 3 px;
    padding-right: 3 px;
    color:red;

}
.count-big {
    font-size: 200%;
}