<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="isFootball()">{{ 'FUSSBALL' | translate }}</span>
      <span *ngIf="isHockey()">{{ 'HOCKEY' | translate }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
      <ion-col size="12" class="">
        <div class="ion-text-center button-style" >
          <button (click)='manualChange()'  [disabled]="manualChangeDisabled()" class="button-timer-style">
            <span class="minuteCounter count-big">{{getSportReleateMinutes() | number:'2.0' }}</span>
            <span *ngIf="gameIsRunning()" class="running count-big">:</span>
            <span *ngIf="!gameIsRunning()" class="pause count-big">:</span>
            <span class="secCounter count-big">{{currentGameService.currentGame.currentSec  | number:'2.0'}} </span>
          </button>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" class="">
        <div class="ion-text-center">
          <span *ngIf="isFootballNormal()">{{ 'HALBZEIT' | translate }}</span>
          <span *ngIf="isFootballReneval()">{{ 'VERLAENGERUNG' | translate }}</span>
          <span *ngIf="isHockey()">{{ 'PERIODE' | translate }}</span>   
          {{getPeriodNumber()}}/{{getTotalPeriods()}}
        </div>
      </ion-col>
    </ion-row>



    <ion-row>
    
      <ion-col size="6" class="{{getSportCellClass1()}}" style="height: 3em;">
        <div class="ion-text-left subtext">
          {{ 'TEAM_NAME' | translate }}
        </div>
        
        <div class="ion-text-center teamname">
          <a  [routerLink]="['/team-names']" [queryParams]="{ id: '1'}" >{{currentGameService.currentGame.homeTeamName}}</a>  
        </div>
      </ion-col>
      <ion-col size="6" class="{{getSportCellClass2()}}">
        <div class="ion-text-left subtext">
          {{ 'TEAM_NAME' | translate }}
        </div>       
        <div class="ion-text-center teamname">
          <a [routerLink]="['/team-names']" [queryParams]="{ id: '2'}" >{{currentGameService.currentGame.guestTeamName}}</a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="{{getSportCellClass1()}}">
        <div class="ion-text-center">
          <button (click)='goalTeam1Add()' class="{{getSportButtonClass1()}}">
            <ion-icon name="add-circle-outline" size="large"></ion-icon>
          </button>
        </div>
        </ion-col>
        <ion-col size="2" class="{{getSportCellClass1()}}">
          <div class="ion-text-left subtext">
            {{ 'PUNKTE' | translate }}
          </div>      
          <div class="ion-text-center displayGoals">
          {{currentGame?.homeGoals}}
          </div>
        </ion-col>
        <ion-col size="2" class="{{getSportCellClass1()}}">
          <div class="ion-text-center">
          <button (click)='goalTeam1Substract()' class="{{getSportButtonClass1()}}">
            <ion-icon name="remove-circle-outline" size="large"></ion-icon>
          </button>
        </div>
      </ion-col>

      <ion-col size="2" class="{{getSportCellClass2()}}">
        <div class="ion-text-center">
          <button (click)='goalTeam2Add()' class="{{getSportButtonClass2()}}">
            <ion-icon name="add-circle-outline" size="large"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col size="2" class="{{getSportCellClass2()}}">
        
        <div class="ion-text-left subtext">
          Punkte
        </div>  
        
        <div class="ion-text-center displayGoals">
          {{currentGame?.guestGoals}}
        </div>
      </ion-col>
      <ion-col size="2" class="{{getSportCellClass2()}}">
        <div class="ion-text-center">
          <button (click)='goalTeam2Substract()' class="{{getSportButtonClass2()}}">
            <ion-icon name="remove-circle-outline" size="large"></ion-icon>
           
            
          </button> 
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="">
        <div class="ion-text-center">
          <button (click)='confirmFinishGame()' [disabled]="finishButtonDisabled()" title="{{ 'ENDE_SPIEL' | translate }}">
            <!-- <img src="../assets/icon/NeuesSpiel.png"  style="width: 35px;height: 35px;" /> -->
            <ion-icon name="power" size="large"></ion-icon>
          </button> 
          <button (click)='confirmNextPeriod()' [disabled]="nextPeriodDisabled()" title="{{ 'NEUE_PERIODE' | translate }}"><ion-icon name="arrow-forward" size="large"></ion-icon></button>
          <!-- <button (click)='confirmStopTransmit()' [disabled]="sendSignalDisabled()" title="Übertragung beenden"><ion-icon name="power" size="large"></ion-icon></button> -->
          <!-- <button (click)='deleteCurrentGame()'>Spiel löschen für test</button> -->
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12" class="">
        <div class="ion-text-center">
          <button (click)='sendSignal()' [disabled]="sendSignalDisabled()" *ngIf="isHockey()" title="{{ 'SIGNAL_SENDEN' | translate }}">
            <ion-icon name="musical-notes" size="large" ></ion-icon>
            <!-- <span class="iconify" data-icon="ion-volume-high-outline" data-inline="false" ></span> -->
          </button>
          <button (click)='playGo()' [disabled]="playButtonDisabled()" title="{{ 'START' | translate }}"><ion-icon size="large" name="play-circle-outline"></ion-icon></button>
          <button (click)='break()' [disabled]="breakButtonDisabled()" title="{{ 'PAUSE' | translate }}"><ion-icon size="large" name="pause-circle-outline"></ion-icon></button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
<pre *ngIf="debugSettings.displayPreOnHtml">
  {{currentGameService.currentGame | json}}
</pre>
</ion-content>
