/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.ion-text-start{
    text-align: start
}
.ion-text-end{
    text-align: end;

}
.ion-text-center{
    text-align: center;
    
}
.ion-text-justify{
    align-items: center;
    text-align:center;
}

.cell-class-border-right {
    border-color: white; 
    border-width: .01em; 
    border-right-style: solid;
  }

.cell-class {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    background-color: lightgrey
  }


.hockey1{
    background-color: #4ABED5;
}
.hockey2{
    background-color: #3D9DAD;
}


.football1{
    background-color: #3A9463;
}
.football2{
    background-color:  #337F53
   
}
.black1{
    background-color:#354556
}
.black2{
    background-color:#354556
}
body{
    //color:#FFFFFF;



}
// #354556
ion-input{
  --background:#354556 !important;
  }


//   ion-icon {
//     font-size: 40px !important; //Preferred size here
// }

.iconify { 
  width: 2em !important; 
  height: 2em !important; 
}
.button-style{

    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox{

  background: #FFFFFF;
  border: #FFFFFF 1px solid;
}
a:link {
    color:#FFFFFF;
  }

  /* visited link */
a:visited {
    color:#FFFFFF;
  }
  
  /* mouse over link */
  a:hover {
    color:#FFFFFF;
  }
  
  /* selected link */
  a:active {
    color:#FFFFFF;
  }

html * {
    font-family: "Trebuchet MS";
  }

  ion-title {
    font-family: "Trebuchet MS";
    font-size: 18pt !important;
    font-weight: bold !important;
    text-align:center;
    @media (max-width: 991px) { // entspricht dem Menu
      margin-right: 2.3em !important;
    }
  }

  .subtitle {
    font-family: "Trebuchet MS";
    font-size: 14pt !important;
    font-weight: bold !important;
    margin-bottom : 5px;
    margin-bottom : 5px;

  }

  button.football1 {
    background-color:#3A9463 !important;
    font-family: inherit;
    outline: none !important;
  }

  button.football2 {
    background-color: #337F53 !important;
    font-family: inherit;
    outline: none !important;
  }

  button.football2:hover {
    background-color: #337F53 !important;
}

  button.hockey1 {
    background-color:#4ABED5 !important;
    font-family: inherit;
    outline: none !important;
  }
  button.hockey2 {

    background-color: #3D9DAD !important;
    font-family: inherit;
    outline: none !important;
  }

  button {
    color: white !important;
    background-color: #15222E !important;
    font-family: inherit;
  }
  button:disabled {
    opacity: 0.5;
  }
  button:hover {
  }


  .menu-item{
    background-color: #0d0d0d !important;

  }
/*
Sportart - Trebuchet MS, Regular, 18pt, #15222E
Settings Headline - Trebuchet MS, Bold, 18pt, #FFFFFF
Settings table - Trebuchet MS, Regular, 15pt / 24pt, #FFFFFF
Buttons (z.B. Einstellungen ‚Sportart‘ + Spieler) - Trebuchet MS, Bold, 18pt, Versalien, #FFFFFF

*/
// Seite Einstellungen

// Bilder 130 px * 130 px
// Abstand 16 px * 16 px

@media (prefers-color-scheme: dark){
    body {
        background-color :#354556;
    
    }

}