<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
      <span *ngIf="isFootball()">{{ 'FUSSBALL' | translate }}</span>
      <span *ngIf="isHockey()">{{ 'HOCKEY' | translate }}</span>
      <!-- <span *ngIf="isUndefined()">Erweiterte Einstellungen</span> -->
      
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let setting of advancedSportSettings">
      <ion-col size="1" style='width:5px'></ion-col>
      <ion-col size="5" block class="{{getSportCellClass1()}}">
        <div class="ion-text-left button-style"  (click)="setSettings(setting.periodSettingId)" >      
          {{setting.settingName}}
        </div> 
      </ion-col>
     
    <ion-col size="4" block class="{{getSportCellClass1()}}">
        <div class="ion-text-center" *ngIf="isFootball()" >
          {{setting.periodAmounts}} x {{setting.durationMin}} {{ 'MINUTEN' | translate }}
        </div>
        <div class="ion-text-center" *ngIf="isHockey()" >
          {{setting.periodAmounts}} x {{setting.durationMin}} {{ 'MINUTEN' | translate }}
        </div>
      </ion-col>
      <ion-col size="2" class="{{getSportCellClass1()}}">
      <button  (click)="deleteSetting(setting.periodSettingId)" class="{{getSportButtonClass1()}}">
        <div class="ion-text-right">
          <ion-icon name="trash" size="large"></ion-icon>
        </div>
      </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style='height: 3em;'></ion-col>
  </ion-row>
  <form [formGroup]="form">
    <ion-row>
      <ion-col size="1" style='width:5px'></ion-col>
      <ion-col size="4" style="padding-top: 1em;">
        {{ 'NEUE_SPIELEINSTELLUNG' | translate }}
      </ion-col>
      <ion-col size="7">
        <ion-input type="text" formControlName="periodName" maxlength="30"></ion-input>
      </ion-col>
  </ion-row>


    <ion-row>
      <ion-col size="1" style='width:5px'></ion-col>
      <ion-col size="4">
        <div class="ion-text-left" style="padding-top: 1em;">
          <span *ngIf="isFootball()">{{ 'HALBZEIT_LAENGE' | translate }} {{ 'MIN' | translate }}</span>
          <span *ngIf="isHockey()">{{ 'PERIODE_LAENGE' | translate }} {{ 'MIN' | translate }}</span>
      </div>
      </ion-col>
      <ion-col size="2" >
        <div class="ion-text-right">
        <button (click)='minNormalTimeSubstract()'>
          <ion-icon name="remove-circle-outline" size="large"></ion-icon>
          </button>
        </div>
      </ion-col>

      <ion-col size="2">
        <div class="ion-text-center" style="padding-top: 0.5em">
          {{regularTimeTargetMinutes}}
        </div>
      </ion-col>
  
      <ion-col size="2">
        <div class="ion-text-left">
        <button (click)='minNormalTimeAdd()'>
          <ion-icon name="add-circle-outline" size="large"></ion-icon>
        </button>
      </div>
      </ion-col>
      <ion-col size="1" ></ion-col>
    </ion-row>


    <ion-row *ngIf="isFootball()">
      <ion-col size="1" style='width:5px'></ion-col>
      <ion-col size="4" >
        <div class="ion-text-left" style="padding-top: 0.5em">
          {{ 'VERLAENGERUNG' | translate }} {{ 'MIN' | translate }}
      </div>
      </ion-col>
      <ion-col size="2" >
        <div class="ion-text-right">
        <button (click)='minExtraTimeSubstract()'>
          <ion-icon name="remove-circle-outline" size="large"></ion-icon>
          </button>
        </div>
      </ion-col>

      <ion-col size="2">
        <div class="ion-text-center" style="padding-top: 0.5em"> 
          {{extraTimeTargetMinutes}}
        </div>
      </ion-col>
  
      <ion-col size="2">
        <div class="ion-text-left">
        <button (click)='minExtraTimeAdd()'>
          <ion-icon name="add-circle-outline" size="large"></ion-icon>
        </button>
      </div>
      </ion-col>
      <ion-col size="1" ></ion-col>
    </ion-row>

    <ion-row *ngIf="isHockey()">
      <ion-col size="1" style='width:5px'></ion-col>
      <ion-col size="4">
        <div class="ion-text-left" style="padding-top: 0.5em;">
          {{ 'PERIODE_ANZAHL' | translate }}
      </div>
      </ion-col>
      <ion-col size="2" >
        <div class="ion-text-right">
        <button (click)='periodSubstract()' [disabled]="regularTimeNumPeriods < 1">
          <ion-icon name="remove-circle-outline" size="large"></ion-icon>
          </button>
        </div>
      </ion-col>

      <ion-col size="2">
        <div class="ion-text-center" style="padding-top: 0.5em">
          {{regularTimeNumPeriods}}
        </div>
      </ion-col>
  
      <ion-col size="2">
        <div class="ion-text-left">
        <button (click)='periodAdd()'>
          <ion-icon name="add-circle-outline" size="large"></ion-icon>
        </button>
      </div>
      </ion-col>
      <ion-col size="1" ></ion-col>
    </ion-row>

    <ion-row *ngIf="isHockey()">
      <ion-col size="1" style='width:5px'></ion-col>
      <ion-col size="4">
        <div class="ion-text-left" style="padding-top: 0.5em;">
          {{ 'VORWAERTSZAEHLER' | translate }}
      </div>
      </ion-col>
      <ion-col size="2" >
        <div class="ion-text-right" style="margin-right: 13px;">
          <ion-checkbox class="checkbox" color="light" formControlName="isForwardCounter" checked="false"></ion-checkbox>
        </div>
      </ion-col>
      <ion-col size="5" ></ion-col>
  </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="ion-text-end">
          <button (click)='saveNewGame()' [disabled]="((!form.valid) || (regularTimeTargetMinutes < 1) || (regularTimeNumPeriods < 1))" title="{{ 'SPEICHERN' | translate }}">
            <ion-icon name="checkmark" size="large"></ion-icon>
          </button>   
          <!-- <button (click)='cancel()' title="{{ 'ABBRUCH' | translate }}">
            <ion-icon name="close" size="large"></ion-icon>
          </button> -->
        </div>
      </ion-col>
    </ion-row>
  </form>

    
    <ion-row>
      <ion-col size="12" >
      <button (click)='goToSettings()' title="{{ 'ZURUECK' | translate }}"><ion-icon name="arrow-back" size="large"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <pre>
    {{footballService.footballSettingsFiltered | json}}
  </pre> -->

  <pre *ngIf="debugSettings.displayPreOnHtml">
    {{advancedSportSettings | json}}
  </pre>

</ion-content>