


.hockey1{
    background-color: #4ABED5;
}
.hockey2{
    background-color: #3D9DAD;
}


.football1{
    background-color: #3A9463;
}
.football2{
    background-color:  #337F53
   
}
.black1{
    background-color:#354556
}
.black2{
    background-color:#354556
}
body{
    color:#FFFFFF;
    background-color:red;

}

.hockey1{
    background-color: #4ABED5;
}
.hockey2{
    background-color: #3D9DAD;
}


.football1{
    background-color: #3A9463;
}
.football2{
    background-color:  #337F53
   
}
.black1{
    background-color:#354556
}
.black2{
    background-color:#354556
}
body {
    color:#FFFFFF;
    background-color: powderblue;

}